/* BASE */
body {
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif;
}

a {
    color:#00abff;
    text-decoration:none;
}

h1 {
    font-weight:normal;
    border-bottom:1px solid #bbb;
    padding:0 0 10px 0;
}

h2 {
    font-weight:normal;
    margin:30px 0 0;
}

/* CONTENT */
main {
    display: flex;
    justify-content: center;
}

#content {
    width:90%;
    padding:0 0 0 30px;
}

/* List of accounts*/
.user-list {
    width: 100%;
}
.user-list thead{
   background-color: #191919;
   border: 2px solid #4F4F4F;
   color: #ffffff;
   font-weight: bold;
}
.new-account-link{
    display: flex;
    justify-content: center;
}
#new-account {
    background-color: #191f19;
    border: 1px solid #4F4F4F;
    color: #00abff;
}

/* login */
.login-form {
    display: flex;
    justify-content: center;
}

/* create user*/
.create-account-form {

}
.account-value {
    width: 100%;
}

/* pagination */
.pagination {
	display: flex;
	justify-content: center;
    margin:40px 0;
    font-weight:bold;
}

/* top block */
.head {
    width: 100%;
    background-color: #e8e8e8;
    display: flex;
    justify-content: space-between;
}
.user-name{
    display: flex;
    justify-content: start;
}
.user-actions{
    display: flex;
    justify-content: end;
}

/* FOOTER */
footer {
    margin-top: 50px;
	display: flex;
	justify-content: center;
    align-items: flex-end;
}

.copyright {
    border-top:1px solid #bbb;
	width: 90%;
	padding:0 0 30px 30px;
	left: 0;
	bottom: 0;
	background-color: #efefef;
	color: #000000;
	text-align: center;
}
