{% extends "accounts/base.html" %}

{% block title %}Создание нового пользователя{% endblock %}

{% block content %}

{% if flash %}
<div class="flash">
    <p>{{ flash }}</p>
</div>
{% endif %}
<form method="POST" class="create-account-form" action="{% url 'accounts:account_manage' %}">
    {% csrf_token %}
    <p class="account-value">{{ form.username.label_tag }} {{ form.username }}</p>
    <p class="account-value">{{ form.first_name.label_tag }} {{ form.first_name }}</p>
    <p class="account-value">{{ form.last_name.label_tag }} {{ form.last_name }}</p>
    <p class="account-value">{{ form.email.label_tag }} {{ form.email }}</p>
    <p class="account-value">{{ form.password.label_tag }} {{ form.password }}</p>
    <p class="account-value">{{ form.is_active.label_tag }} {{ form.is_active }}</p>
    <p class="account-value">{{ form.is_superuser.label_tag }} {{ form.is_superuser }}</p>
    <input type="submit" value="CREATE">
</form>
{% endblock %}
