{% extends "accounts/base.html" %}

{% block title %}Все пользователи{% endblock %}

{% block content %}
<table class="user-list">
    <thead>
    <tr>
        <th>User ID</th>
        <th>User Name</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Is active?</th>
        <th>Is superuser?</th>
        <th>Last login</th>
    </tr>
    </thead>
    <tbody>
{% for account in accounts %}
    <tr>
        <td>{{ account.id }}</td>
        <td>{{ account.username }}</td>
        <td>{{ account.first_name }}</td>
        <td>{{ account.last_name }}</td>
        <td>{{ account.is_active }}</td>
        <td>{{ account.is_superuser }}</td>
        <td>{{ account.last_login }}</td>
    </tr>
{% endfor %}
    </tbody>
</table>
<div class="new-account-link">
    <p id="new_account">
        <a href="{% url 'accounts:new_account' %}">ADD NEW</a>
    </p>
</div>
<div class="pagination">
    <span class="step-links">
        {% if accounts.has_previous %}
            <a href="?page={{ accounts.previous_page_number }}">Previous</a>
        {% endif %}
        <span class="current">
            Page {{ accounts.number }} of {{ accounts.paginator.num_pages }}
        </span>
        {% if accounts.has_next %}
            <a href="?page={{ accounts.next_page_number }}">Next</a>
        {% endif %}
    </span>
</div>
{% endblock %}