{% extends "accounts/base.html" %}

{% block title %}Авторизация{% endblock %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
<div class="login-form">
    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
        <p>{{ form.username.label_tag }} {{ form.username }}</p>
        <p>{{ form.password.label_tag }} {{ form.password }}</p>
    <input type="submit" value="login">
    </form>
</div>

{% endblock %}